<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Mario Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/yule/mario.css') }}">
    <link href="{{ url_for('static', filename='css/white_theme.css') }}" rel="stylesheet">
    {% if t_theme == 'black' %}
    <link href="{{ url_for('static', filename='css/black_theme.css') }}" rel="stylesheet">
    {% endif %}
</head>
<body>
    <button id="homeButton" onclick="window.location.href='{{ t_home }}'">Home Page</button>
    <div class="game-container">
        <div class="score">Score: <span id="score">0</span></div>
        <canvas id="gameCanvas" width="800" height="400"></canvas>
    </div>
    <script src="{{ url_for('static', filename='javascript/yule/mario.js') }}"></script>
</body>
</html> 