<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bouncing Ball Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/yule/pinball.css') }}">
</head>
<body>
    <button id="homeButton" onclick="window.location.href='{{ t_home }}'">Home Page</button>
    <div id="gameContainer">
        <div id="score">Score: <span id="scoreValue">0</span></div>
        <div id="healthContainer">
            <div id="healthBar"></div>
        </div>
        <canvas id="gameCanvas" width="800" height="400"></canvas>
        <button id="startButton">Start Game</button>
    </div>

    <script src="{{ url_for('static', filename='javascript/yule/pinball.js') }}"></script>
</body>
</html>