<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>2048 Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/yule/2048.css') }}">
    <link href="{{ url_for('static', filename='css/white_theme_yule.css') }}" rel="stylesheet">
    {% if t_theme == 'black' %}
    <link href="{{ url_for('static', filename='css/black_theme.css') }}" rel="stylesheet">
    {% endif %}
</head>
<body>
    <div class="title">
        Yule - Subsystem
        <a href="/"> Home </a>
        |
        <a href="/reciter"> Reciter </a>
        |
        <a href="/forum"> Forum </a>
        |
        <a href="/yule"> Yule </a>
        |
        <a href="/userlist"> Users </a>
        |
        {% if t_username == None %}
            <a href="/login"> Login </a>
        {% endif %}
        {% if t_username != None %}
            <a href="/login"> Switch Account </a>
        |
            <a href="/profile?username={{ t_username }}"> {{ t_username }} </a>
        {% endif %}
        <br>
    </div>
    <button id="homeButton" onclick="window.location.href='{{ t_home }}'">Home Page</button>
    <div class="game-container">
        <div class="header">
            <h1>2048</h1>
            <div class="score-container">
                Score: <span id="score">0</span>
            </div>
        </div>
        <div class="grid" id="grid"></div>
    </div>
    <div class="copy">
        Developed by <a href="https://github.com/YCY5449">YCY5449</a>. <br>
        2024 - 2025, &copy Subsystem Dev Team<br>
        All rights reserved.
    </div>
    <script src="{{ url_for('static', filename='javascript/yule/2048.js') }}"></script>
</body>
</html>
